/Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/*
!/doc/images/
/pkg/
/spec/reports/
/tmp/
/.gem_rbs_collection
/rbs_collection.lock.yaml

# rspec failure tracking
.rspec_status

vendor
.solargraph.yml
